body{
    background-color: #AABBCC;
}
.div1{
    margin-right: 750px;
    font-size: large;
    text-align: justify;
    font-style: oblique;
}
.spn{
    font-size: 200%;
}
img{
    position: absolute;
    top: 25px;
    right: 10px;
    width: 700px;
    height: 480px;
    border-radius: 2%;
}
.special{
    color: brown;
    margin-top: 10px;
    margin-left: 728px;
    font-size: 236%;
}
.fst{
    font-size: 105%;
    color: brown;
}
.dates{
    color: brown;
    margin-left: 900px;
    font-size: 216%;
}
.para{
    color: brown;
    font-size: 150%;
}
.para::first-letter{
    font-size: 180%;
}
.ftr{
    position: absolute;
    bottom: 10px;
}